* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    background: #FFE4C4;
}

.title {
    font-size: 70px;
    margin-top: 45px;
    margin-bottom: 25px;
    text-align: center;
    font-family: 'Asenine', Arial, Helvetica, sans-serif;
}

.header {
    justify-content: center;
    align-content: center;
    display: flex;
  }  

button {
    font-size: 100%;
    padding: 0;
    border: 0;
    background: rgba(0,0,0,0);
}

button:hover {
    cursor: pointer;
}

input, button {
    ontline: 0;
}

.input {
    padding: 0 10px;
    height: 40px;
    width: 350px;
    margin-right: 10px;
    border: 1px solid #e6ecf0;
    font-size: 17px;
    font-family: Agency FB, Arial, Helvetica, sans-serif;
}

.container {
    padding: 0 20px;
}

.flex-container{
    display: flex;
    margin: 50px auto;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    margin-bottom: 20px;
    width: 300px;
    padding: 20px;
    background: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px 5px rgb(255, 221, 179);
    border-radius: 12px;
}

.card h2 {
    font-size: 35px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Asenine', Arial, Helvetica, sans-serif;
}

.card li {
    font-size: 20px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 20px;
    background: #f28d8d;
    text-align: center;
    font-family: Agency FB, Arial, Helvetica, sans-serif;
    list-style: none;
}

.fa-plus-square {
    font-size: 40px;
}